<app-map></app-map>

<div class="panel">
  <div>Voltage: {{ state?.voltage | number }} V</div>
  <div>Current: {{ state?.current | number }} A</div>

  <div>Used energy {{ state?.used_energy | number }} mAh / {{ state?.total_energy | number }} mAh</div>

  <div>Speed {{ state?.speed | number }} km/h</div>

  <div>Lat: {{ state?.latitude }} Lon : {{ state?.longitude }}</div>

  <div>Distance: {{ state?.trip_distance }} Riding time: {{ state?.riding_time }}</div>

  <div>Fix: {{ state?.gps_fix_status }} Satelites:{{ state?.gps_satelites_count }}</div>

  <div>State: {{ state?.riding_state }}</div>

  <button mat-raised-button color="primary" (click)="bleService.startRide()">start</button>
  <button mat-raised-button color="primary" (click)="bleService.stopRide()">stop</button>
  <button mat-raised-button color="primary" (click)="bleService.disconnect()">disconnect</button>
</div>
