.panel {
  position: absolute;
  height: 250px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: white;
  border-radius: 5px;
  padding: 15px;
}

button {
  margin: 10px !important;
  padding: 5px 30px !important;
}
